In [60]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer

In [61]:
df = pd.read_csv('train_titanic.csv', usecols=['Age','Pclass','Fare','Survived'])

In [62]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [63]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [64]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [65]:
X_train, X_test, y_train, y_test  = train_test_split(X,y , test_size=0.2)

In [66]:
X_train.head()

     Pclass   Age     Fare
763       1  36.0  120.000
788       3   1.0   20.575
751       3   6.0   12.475
782       1  29.0   30.000
668       3  43.0    8.050

In [67]:
knn =  KNNImputer(n_neighbors=3, weights = 'distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


lr  = LogisticRegression()

lr.fit(X_train_trf, y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test, y_pred)

0.7039106145251397

In [69]:
# Comparision with simple imputer --> mean

from sklearn.impute import SimpleImputer


si = SimpleImputer()

X_train_trf2=  si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [70]:
lr = LogisticRegression()

lr.fit(X_train_trf2, y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test, y_pred2)

0.6983240223463687